# Build folder
build/

# Compiled files
*.o
*.a
*.out

# WAL log file
data/wal.log

# Mac system files
.DS_Store

# VS Code
.vscode/

# CMake cache
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile